"*":
  "autoclose-html": {}
  "autocomplete-plus":
    minimumWordLength: 1
  core:
    packagesWithKeymapsDisabled: [
      "tab-switcher"
    ]
  editor:
    fontSize: 15
    invisibles: {}
  "exception-reporting":
    userId: "1f14f259-80ca-d578-acfe-03de8cfc7d58"
  "git-plus": {}
  "keyboard-localization": {}
  linter:
    errorPanelHeight: 26
  "linter-eslint": {}
  "tab-switcher": {}
  welcome:
    showOnStartup: false
".ini.source":
  editor:
    showIndentGuide: false
