"*":
  "autoclose-html": {}
  "autocomplete-plus":
    minimumWordLength: 1
  core: {}
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "1f14f259-80ca-d578-acfe-03de8cfc7d58"
  "git-plus": {}
  linter: {}
  welcome:
    showOnStartup: false
